@import "src/assets/abstract-dir/mixins";

.navbar-wrapper {
  background-image: url("../../../assets/backgrounds/Background\ Gradient.png");

  height: 550px;
  flex-shrink: 0;
  margin: 0 auto;
}
.navbar {
  background-color: rgba(24, 24, 29, 0.3);
  backdrop-filter: blur(2px);
  @include fluid-type(width, 360px, 1280px, 320px, 1580px);
  // position: absolute;
  // top: 10%;
  // right: 1%;
  // left: 1%;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  display: flex;
  height: 60px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
